.home-page {
  width: 100%;
  overflow-x: hidden;
}

.home-block1 {
  width: 100%;
  height: 27.5rem;
}

.home-banner1-content {
  padding-top: 6rem;
  padding-left: 7.5%;
}

.home-banner1-content h1 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  width: 360px;
  margin-bottom: 24px;
  line-height: 2.5rem;
}

.home-banner1-content h2 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  width: 460px;
  margin-bottom: 24px;
  line-height: 1.5rem;
}

.home-banner1-content button {
  padding: 14px 18px;
}

.home-block2 {
  height: 41rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block2-left {
  width: 50%;
  height: 100%;
  background: #64008a;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block2-left h2 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  width: 70%;
  line-height: 38px;
  margin-bottom: 1rem;
}

.block2-left p {
  font-weight: 500;
  font-size: 1rem;
  color: white;
  line-height: 1.5rem;
  width: 70%;
  margin-top: 1.3rem;
}

.block2-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-block3 {
  width: 100%;
  height: 24rem;
}

.home-banner2-filter {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.home-banner2-content {
  padding-top: 4.5rem;
  padding-right: 5.2rem;
}

.home-banner2-content h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  width: 580px;
  margin-bottom: 24px;
  line-height: 1.8rem;
}

.home-banner2-content p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  width: 460px;
  margin-bottom: 24px;
  line-height: 1.5rem;
}

.home-banner2-content button {
  padding: 14px 18px;
}

.home-block4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.block4-card {
  width: 33.3%;
}

.block4-card .solutions-card .solution-image {
  max-width: 400px;
}

@media (max-width: 1150px) {
  .block2-right {
    width: auto;
  }
  .block2-left {
    width: fit-content;
  }
}

@media (max-width: 900px) {
  .home-banner1-content {
    padding-top: 5rem;
  }

  .home-banner1-content h1 {
    font-size: 1.5rem;
    width: 280px;
    line-height: 1.8rem;
  }

  .home-banner1-content h2 {
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    width: 310px;
    margin-bottom: 24px;
    line-height: 1.25rem;
  }

  .home-block2 {
    flex-direction: column;
    height: fit-content;
  }

  .block2-left {
    width: 100%;
    padding: 2.5rem 0;
  }

  .block2-left h2 {
    font-size: 1.25rem;
    color: white;
    width: 300px;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
  }

  .block2-left p {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    margin-top: 1rem;
    letter-spacing: -0.035em;
  }

  .block2-right {
    width: 100%;
  }

  .home-block3 {
    height: 27.875rem;
    width: 220%;
  }

  .home-banner2-filter {
    justify-content: flex-start;
  }

  .home-banner2-content {
    padding-top: 4.375rem;
    padding-left: 2rem;
    padding-right: 0px;
  }

  .home-banner2-content h2 {
    font-size: 1.25rem;
    width: 272px;
    margin-bottom: 24px;
    line-height: 1.8rem;
  }

  .home-banner2-content p {
    font-size: 0.875rem;
    font-weight: 400;
    width: 300px;
    line-height: 1.25rem;
    letter-spacing: -0.075em;
  }

  .home-banner2-content button {
    margin-bottom: 90px;
    width: 300px;
  }

  .home-block4 {
    flex-direction: column;
  }

  .block4-card {
    width: 100%;
  }

  .block4-card .solutions-card p {
    text-align: center;
  }

  .block4-card .solutions-card .solution-image {
    max-width: 300px;
  }

  .contact-area {
    height: 330px;
  }
  .contact-area h3 {
    font-size: 24px;
    line-height: 1.875rem;
  }

  .contact-area h4 {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .contact-area p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}
