@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
}
/* rember 1 em == 16px */

.card {
  align-items: center;
  text-align: center;
  width: 17.5em;
  height: 20.5em;
  box-shadow: 0px 0.3em 0.3em gray;
  border-radius: 2.18em 2.18em;
  display: flex;
  flex-direction: column;
  padding-top: 1.25em;
}
.card img {
  border-radius: 50%;
  width: 7.6875em;
  height: 7.6875em;
  object-fit: cover;
}
.memberCard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.memberCard-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 5.9375em;
}
.memberCard-content .memberCard-desc h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.35em;
  line-height: 1.5em;
  width: 90%;
  color: #000000;
  margin-top: 0.625em;
  margin-bottom: -0.625em;
}
.memberCard-content .memberCard-desc p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  color: #000000;

  margin-top: 1em;
}
.memberCard-content h4 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.25em;
  line-height: 1.25em;
  color: #000000;
  margin-top: 0.3em;
  width: 80%;
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: 3rem;
    width: fit-content;
    margin: 0rem 3rem;
  }
}
